In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_excel(r'C:/BEPEC Python Material/Machine Learning/Logistic Regression/credit_card.xlsx', engine='openpyxl')
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,0,0,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,0,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [3]:
column_names = df.loc[0,:]
column_names = column_names.to_list()
l1 = df.columns
l1 = l1.to_list()
df.columns = column_names
df.rename(columns= {'PAY_0':'PAY_1'}, inplace=True)
df.drop([0], inplace=True)
column_names = df.columns
for column in column_names:
    df[column] = pd.to_numeric(df[column]) 
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,0,0,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,0,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,5,50000,1,2,1,57,0,0,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
df.drop(columns={'ID'}, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  int64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_1                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  int64
 12  BILL_AMT2                   30000 non-null  int64
 13  BILL_AMT3                   30000 non-null  int64
 14  BILL_AMT4                   30000 non-null  int64
 15  BILL_AMT5                   30000 non-null  int64
 16  BILL_AMT6                   30000 non-null  int64
 17  PAY_AMT1                    30000 non-null  int64
 18  PAY_AMT2                    30000 non-null  int64
 19  PAY_AMT3                    30000 non-null  int64
 20  PAY_AMT4                    30000 non-null  int64
 21  PAY_AMT5                    30000 non-null  int64
 22  PAY_AMT6                    30000 non-null  int64
 23  default payment next month  30000 non-null  int64
dtypes: int64(24)
memory usage: 5.7 MB

In [6]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
print(X.shape)
print(y.shape)

(30000, 23)
(30000,)

In [7]:
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(n_splits=1, test_size=0.1, random_state=0)
print(sss.get_n_splits(X, y))
print(sss)

train_idx = 0
test_idx = 0
for train_idx , test_idx in sss.split(X,y):
    X_train  , X_test = X.iloc[train_idx], X.iloc[test_idx]
    y_train  , y_test = y.iloc[train_idx], y.iloc[test_idx]

1
StratifiedShuffleSplit(n_splits=1, random_state=0, test_size=0.1,
            train_size=None)

In [8]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
print(y.value_counts())
print(y_train.value_counts())
print(y_test.value_counts())

(27000, 23)
(3000, 23)
(27000,)
(3000,)
0    23364
1     6636
Name: default payment next month, dtype: int64
0    21028
1     5972
Name: default payment next month, dtype: int64
0    2336
1     664
Name: default payment next month, dtype: int64

In [26]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(loss = 'exponential' , n_estimators=450, learning_rate=0.3 , min_impurity_decrease=0.05,  
                                 max_depth=5,  random_state=0 ).fit(X_train, y_train)
print(clf.score(X_train , y_train))

0.926

In [27]:
y_pred = clf.predict(X_test)
print(clf.score(X_test , y_test))

0.8126666666666666

In [28]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test , y_pred))

0.8126666666666666

In [29]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test, y_pred),"\n------------------")
#print(metrics.confusion_matrix(y_train, train_predicted))

[[2185  151]
 [ 411  253]]
------------------

In [30]:
print(metrics.classification_report(y_test, y_pred  ))

              precision    recall  f1-score   support

           0       0.84      0.94      0.89      2336
           1       0.63      0.38      0.47       664

    accuracy                           0.81      3000
   macro avg       0.73      0.66      0.68      3000
weighted avg       0.79      0.81      0.79      3000

In [31]:
clf.train_score_

array([0.78067459, 0.75031667, 0.7320539 , 0.72061088, 0.71303138,
       0.70688136, 0.70316771, 0.69976798, 0.69598236, 0.69394395,
       0.69174303, 0.69012026, 0.68806696, 0.68577567, 0.68508726,
       0.68379757, 0.68308798, 0.68217854, 0.68068249, 0.67864466,
       0.67703019, 0.67522802, 0.67390819, 0.67228064, 0.67070462,
       0.66988727, 0.66849212, 0.66725207, 0.66637422, 0.66530565,
       0.66471198, 0.66405569, 0.66348212, 0.66242113, 0.66054709,
       0.65904644, 0.65760386, 0.65666213, 0.65592341, 0.65506598,
       0.65382326, 0.65237613, 0.65075549, 0.64906048, 0.64787968,
       0.64746029, 0.64654514, 0.6450228 , 0.64414067, 0.64365751,
       0.64248923, 0.64102986, 0.63952365, 0.6385344 , 0.6373937 ,
       0.63577186, 0.63427678, 0.63316098, 0.63177164, 0.63092345,
       0.62997395, 0.62893824, 0.62794709, 0.62709242, 0.62613748,
       0.62523458, 0.62477782, 0.62426403, 0.62380318, 0.62310928,
       0.62190402, 0.62104644, 0.62076808, 0.61942254, 0.61875248,
       0.61768592, 0.61655778, 0.61491203, 0.61367845, 0.61245454,
       0.611335  , 0.60989615, 0.60904535, 0.60795589, 0.60704266,
       0.6059758 , 0.60391664, 0.60268725, 0.60214129, 0.60103644,
       0.60031195, 0.59891641, 0.59807817, 0.59656718, 0.59508428,
       0.59449366, 0.59284093, 0.59163919, 0.58999225, 0.58882958,
       0.58762458, 0.58705075, 0.58615094, 0.58552671, 0.58442677,
       0.58308949, 0.58222759, 0.5817976 , 0.58145959, 0.58067257,
       0.57978895, 0.57869305, 0.57761085, 0.5774448 , 0.5767205 ,
       0.57574155, 0.57474495, 0.57391891, 0.57285877, 0.57218997,
       0.57071667, 0.56918474, 0.56867843, 0.56810588, 0.56683346,
       0.56610318, 0.56561918, 0.56435565, 0.56321292, 0.56169715,
       0.56043666, 0.55925196, 0.55818703, 0.55685572, 0.55548337,
       0.55423919, 0.55314435, 0.5525023 , 0.55121522, 0.5502041 ,
       0.54928248, 0.54823455, 0.54708638, 0.54646879, 0.54538879,
       0.54463574, 0.54386476, 0.54274415, 0.54232347, 0.54194933,
       0.54143144, 0.54025579, 0.53957412, 0.53874683, 0.53828851,
       0.53737594, 0.53617321, 0.53550972, 0.53459744, 0.53353219,
       0.53230476, 0.53140526, 0.53034313, 0.52955914, 0.52892986,
       0.52805876, 0.5273985 , 0.52660577, 0.52591971, 0.52466191,
       0.52358546, 0.52240873, 0.52157039, 0.52112795, 0.52075674,
       0.52032543, 0.51959555, 0.51909429, 0.51856002, 0.51802592,
       0.51760229, 0.51638256, 0.51543981, 0.51491605, 0.51394377,
       0.51332551, 0.51302138, 0.51209491, 0.51130243, 0.51031352,
       0.50959484, 0.5082775 , 0.50729672, 0.50621226, 0.50512674,
       0.50445301, 0.50345452, 0.50254746, 0.50238118, 0.50149272,
       0.50069535, 0.50025679, 0.4996516 , 0.49856782, 0.49791274,
       0.49675126, 0.49596517, 0.49505472, 0.49399089, 0.49275507,
       0.49158554, 0.49086298, 0.48993158, 0.4890164 , 0.48831212,
       0.48769991, 0.48680509, 0.48601376, 0.48531665, 0.48438093,
       0.48313503, 0.48230895, 0.48110651, 0.48010373, 0.47928784,
       0.47851393, 0.47773142, 0.47704765, 0.47693264, 0.47580883,
       0.47520506, 0.47425136, 0.47292407, 0.47225123, 0.47133747,
       0.47071127, 0.469848  , 0.46924189, 0.46832843, 0.46791141,
       0.46773336, 0.46676083, 0.46568408, 0.46513064, 0.46417864,
       0.46357643, 0.4629442 , 0.46208755, 0.46164948, 0.46123164,
       0.46059742, 0.45920036, 0.45857104, 0.45777   , 0.45715738,
       0.45607649, 0.45551209, 0.45475106, 0.45399449, 0.4537056 ,
       0.45289381, 0.45208342, 0.45137856, 0.45068575, 0.449764  ,
       0.44884003, 0.44788388, 0.44724427, 0.44637545, 0.44542569,
       0.44487735, 0.44424886, 0.44397383, 0.44301409, 0.44228975,
       0.4417525 , 0.44125854, 0.44019267, 0.43944493, 0.43876237,
       0.43776509, 0.43711193, 0.43630471, 0.43522099, 0.43464755,
       0.43432134, 0.43361755, 0.43282694, 0.43227311, 0.43116582,
       0.43031084, 0.42961292, 0.42872302, 0.42803639, 0.42735378,
       0.42689803, 0.42613621, 0.42576354, 0.42488947, 0.42422546,
       0.42384489, 0.42366233, 0.42343037, 0.42289594, 0.42230685,
       0.42184887, 0.42123335, 0.42040898, 0.42002498, 0.41973574,
       0.4191075 , 0.41867631, 0.41835012, 0.41795662, 0.41751914,
       0.41694957, 0.41645566, 0.41619084, 0.4155998 , 0.41517917,
       0.41446424, 0.41360445, 0.41297789, 0.41220024, 0.41131689,
       0.41080544, 0.41013579, 0.40943634, 0.4090743 , 0.40848111,
       0.40799686, 0.40732296, 0.40661668, 0.40614931, 0.405104  ,
       0.40441646, 0.40387666, 0.40344215, 0.40302744, 0.40271014,
       0.40183385, 0.40071062, 0.40021049, 0.39986885, 0.39925255,
       0.39840626, 0.39790676, 0.39743954, 0.39687875, 0.39636041,
       0.39561895, 0.39469771, 0.3941073 , 0.39330924, 0.3928194 ,
       0.392614  , 0.3916986 , 0.39077885, 0.39026694, 0.38984615,
       0.38905321, 0.38847366, 0.388166  , 0.38745626, 0.38675012,
       0.38610415, 0.38575886, 0.3851809 , 0.38488217, 0.38460436,
       0.38434596, 0.38360832, 0.38252878, 0.38196921, 0.38133715,
       0.38110005, 0.380148  , 0.37966895, 0.37931771, 0.37899452,
       0.3784043 , 0.37776487, 0.37704756, 0.37617897, 0.37525615,
       0.3743789 , 0.37425761, 0.37335982, 0.37287651, 0.37200059,
       0.37152968, 0.37076984, 0.37057873, 0.36997097, 0.36966217,
       0.36897632, 0.36826501, 0.36786297, 0.36734772, 0.36669325,
       0.36609402, 0.36525212, 0.36456671, 0.36418449, 0.36355102,
       0.36305459, 0.36248483, 0.36171784, 0.36090424, 0.36035749,
       0.35962733, 0.35912894, 0.35845553, 0.35782732, 0.35715155,
       0.35665948, 0.35583996, 0.35523504, 0.35457534, 0.35386093,
       0.35324022, 0.35263817, 0.35213875, 0.35166713, 0.35087992,
       0.35047155, 0.35028061, 0.35005787, 0.34966744, 0.34897165,
       0.34840606, 0.34784322, 0.34723584, 0.34660859, 0.345834  ,
       0.34518338, 0.3447928 , 0.34437321, 0.34377777, 0.34317887,
       0.34251011, 0.34210559, 0.34125664, 0.34066083, 0.34011862,
       0.33972305, 0.33917437, 0.33878048, 0.3382711 , 0.33785002])

In [40]:
l1 = [1,2,3,4]
l2 = [4,5,6 , 7]
for x , y in enumerate(l1):
    print(x , y)
for i in zip(l1,l2):
           print(i)

0 1
1 2
2 3
3 4
(1, 4)
(2, 5)
(3, 6)
(4, 7)

In [14]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

In [15]:
clf = AdaBoostClassifier(  DecisionTreeClassifier(max_depth=2) , n_estimators=250, random_state=0 , learning_rate = 0.1)
clf.fit(X_train , y_train)
clf.score(X_train , y_train)

0.8231851851851851

In [16]:
y_pred = clf.predict(X_test)
print(clf.score(X_test , y_test))

0.818

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test , y_pred))

0.818

In [18]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test, y_pred),"\n------------------")
#print(metrics.confusion_matrix(y_train, train_predicted))

[[2218  118]
 [ 428  236]]
------------------

In [19]:
print(metrics.classification_report(y_test, y_pred  ))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      2336
           1       0.67      0.36      0.46       664

    accuracy                           0.82      3000
   macro avg       0.75      0.65      0.68      3000
weighted avg       0.80      0.82      0.80      3000

In [20]:
clf.base_estimator_

DecisionTreeClassifier(max_depth=2)

In [21]:
print(X_train.shape[1])
clf.feature_importances_

23

array([0.10151564, 0.01073535, 0.02201084, 0.01527723, 0.01531236,
       0.08090321, 0.01128699, 0.01663833, 0.00921373, 0.00947929,
       0.02096106, 0.09020132, 0.06528646, 0.06586627, 0.07776305,
       0.02632692, 0.03664764, 0.05255861, 0.05614905, 0.07419067,
       0.04201184, 0.03981524, 0.0598489 ])

In [23]:
clf.get_params()

{'algorithm': 'SAMME.R',
 'base_estimator__ccp_alpha': 0.0,
 'base_estimator__class_weight': None,
 'base_estimator__criterion': 'gini',
 'base_estimator__max_depth': 2,
 'base_estimator__max_features': None,
 'base_estimator__max_leaf_nodes': None,
 'base_estimator__min_impurity_decrease': 0.0,
 'base_estimator__min_impurity_split': None,
 'base_estimator__min_samples_leaf': 1,
 'base_estimator__min_samples_split': 2,
 'base_estimator__min_weight_fraction_leaf': 0.0,
 'base_estimator__random_state': None,
 'base_estimator__splitter': 'best',
 'base_estimator': DecisionTreeClassifier(max_depth=2),
 'learning_rate': 0.1,
 'n_estimators': 250,
 'random_state': 0}

AttributeError: 'AdaBoostClassifier' object has no attribute 'train_score_'